# Basics of Combinatorics

In [ ]:
def P(n): #(Permutation)
  f =1
  for x in range(2,n+1):
    f*=x
  return f

# Combination
def C_n_m(n,m):
  return P(n)/ (P(n-m)* P(m))

# Variation
def A_(n,m):
  return C_n_m(n,m) * P(m)

# Permutation with repetition
def P_rep(n,m):
  add = 1
  for x in m:
    add*=P(x)
  return P(n)/ add

# Combination with repetition
def C_n_m_rep(n,m):
  return P(n+m-1)/ (P(n-1)* P(m))

# Variation with repetition
def A_rep(n,m):
  return n**m

## Practical Examples

### Task 1

Let's count all the ways we can select two fruits from the following set:

Banana, apple, pear

In [ ]:
C_n_m(3,2)

Check:

- apple, pear;
- apple, banana;
- pear, banana.

### Task 2

How many ways are there to select **at least** one fruit from task 1?

In [ ]:
C_n_m(3,3) + C_n_m(3,2) + C_n_m(3,1)

### Task 3

How many different ways are there to seat 6 people at a round table?

In [ ]:
P(6)

In [ ]:
6*5*4*3*2*1

### Task 4

A box contains 15 pieces. How many ways are there to retrieve 4 of these pieces?

In [ ]:
C_n_m(15,4)

### Task 5

A chess tournament has 20 participants, each of which plays in a pair against another player. How many unique matches can be made?

In [ ]:
C_n_m(20,2)

*We can also phrase the task in the following way: 20 participants = 20 matches, each of which plays with someone else - this is a combination of 2 participants.*

### Task 6

Three people sit down to play poker. In how many ways can they take three cards from the deck, given that the entire deck consists of 52 cards?

In [ ]:
A_(52,3)

In [ ]:
C_n_m(52,3)

In [ ]:
P(3)

In [ ]:
22100.0 * 6

## Addition and multiplication in combinatorics

### Task 7

A company employs 23 people, including 10 men and 13 women. How many ways are there to select two people of the same gender?

In [ ]:
m = C_n_m(10,2)
m

In [ ]:
w = C_n_m(13, 2)
w

In [ ]:
m+w

### Task 8

The employees from task 7 have organized a party. How many ways are there to sit four different people across each table in such a way that two men and two women sit at each table.

In [ ]:
m * w

## Permutation with repetition

### Task 9

How many permutations can be made using the letters in the word HAWAII ?

In [ ]:
n = 6
m = [1, 2, 1, 2]
print(P_rep(n , m))

In [ ]:
P(6)

In [ ]:
720 / 4

### Task 10

A restaraunt offers soups, burgers, and pizza. How many ways are there to order 7 meals?

In [ ]:
C_n_m_rep(3, 7)

### Task 11

How many unique PIN numbers can be made using four digits?

In [ ]:
A_rep(10, 4)

In [ ]:
10 ** 4

# Sets

### Task 1

Create set E given $E = A\cup B $, and A={2, 4, 6, 8, 10, 12}, B={3, 6, 9, 12}.

In [ ]:
A = {2,4,6,8,10,12}
B = {3, 6 ,9 ,12}
E = A.copy()
E.update(B)
E

### Task 2

Create set E, given that $E = A\B $, and A={2, 4, 6}, B={3, 6, 9}.

In [ ]:
A = {2, 4 ,6}
B = {3, 6, 9}
E = {e for e in A if e not in B}
E

In [ ]:
A - B

# Binary logic

Binary logic is based on the following assertion: every question can be answered with "yes" or **True**, or "no" **False**. Let's look at the following operations.

* Conjunction - binary operation (logical "AND"), multiplication, analogous to the **min** function but involving boolean values. ie. the result will be equal to the "smallest" value.
> In Python this is detoned by the *and* keyword.

* Disjunction - binary operation (logical "OR"), addition, analogous to the **max** function but involving boolean values. ie. the result will be equal to the "largest" value.
> In Python this is detoned by the *or* keyword.

* Negation - unary operation (operation with one input), the output of which will be the opposite of the input
> In Python this is detoned by the *not* keyword.

What is this used for?
> Comparing values

Questions which can be answered using **True** or **False**
- $<$   less than
- $>$  greater than
- $<=$  less than or equal to
- $>=$  greater than or equal to
- $==$  equal
- $!=$  not equal

In [ ]:
### Conjunction. Table of values ###
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

In [ ]:
### Disjunction. Table of values ###
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

In [ ]:
### Negation ###
print(not True)
print(not False)

False
True

In [ ]:
### Implication ###
print(not False or False)
print(not False or True)
print(not True or False)
print(not True or True)

True
True
False
True

In [ ]:
x = 5
y = 8

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x > y: False
x <= y: True
x >= y: False

Let's imagine a situation: a satellite predicts the weather for the following day based on the following logic.

If it won't be windy, it will be cloudy but without rain;

If it won't rain, it will be cloudy and without wind;

If it won't be cloudy, there will be rain and no wind.

What will the weather be like the following day?

In [ ]:
# a = Windy
# b = Cloudy
# c = Rain
for a in range (2):
  for b in range (2):
    for c in range (2):
      f1 = a or (b and (not c))
      f2 = (not c) or (b and (not a))
      f3 = (not b) or (c and (not a))
      f = f1 and f2 and f3
      print(a,b,c, ':', bool(f))

0 0 0 : False
0 0 1 : False
0 1 0 : False
0 1 1 : False
1 0 0 : True
1 0 1 : False
1 1 0 : False
1 1 1 : False

# **Glossary**

**Permutation (P)** describes how many different ways one can reorganize a set without changing its contents.

*Example*: Suppose you have four digits and your task is to generate all possible four-digit numbers using these digits.

**Combination (C)** involving n and k consists of k elements chosen from a set, which in turn contains n total elements. The order of these elements does not matter.

*Example*: Given five ingredients, we need to brew three drinks. It does not matter if we add strawberries first followed by watermelons, or watermelons first and then strawberries, the final product will be the same.

**Variation (A)** involving n and k consists of k elements taken from a set of n elements. The order of the elements matters.

*Example*: Let's suppose you have ten digits that can be used to create a four-character password. Even if you use the same characters but in a different order, the passwords will be different.